

@*this displays a message and a couple of links*@
<div style="font-family:Calibri; font-size:24px; font-style:oblique">
    Thank You For Tour Purchase!
</div>
<div style="padding-top:40px;">
    <div>
        @Html.ActionLink("Continue Shopping", "Index", "Home")
    </div>

    <div>
        @Html.ActionLink("View Orders", "SeeOrders", "Order")
    </div>
</div>

