<div class="customButton">

    Custom Computers, is a small computer components store which also sells custom built computers to a number of customers. 
    The customized computers range from the simple most basic machines to high specification machines for gamers.
</div>